//Font Family
$MAIN_FONT_FAMILY: "Helvetica Neue";

// Colors
$NAVBAR_BG_COLOR: #ffffff;
$BLACK: #000000;
$DIVIDER_COLOR: #f2f2f2;
$WHITE: #ffffff;
$CARD_BG_COLOR: #F9F4EA;
$CARD_LINE_COLOR: #979797;


// Sizes
$NAVBAR_TEXT_SIZE: 27px;
$NAVBAR_BTN_SIZE: 18px;
$SIDE_BTN_SIZE: 18px;
$SEARCH_TEXT_SIZE: 24px;

$VERY_GIANT_FONT_SIZE: 40px;
$GIANT_FONT_SIZE: 30px;
$LARGE_FONT_SIZE: 27px;
$MEDIUM_FONT_SIZE: 24px;
$SMALL_FONT_SIZE: 18px;
$VERY_SMALL_FONT_SIZE: 16px;
$TINY_FONT_SIZE: 12px;

// Letter space
$TITLE_LETTER_SPACE: 1.35px;

$BREAK_POINTS: (
    SMALL: 564px,
    MEDIUM: 786px,
    LARGE: 1200px
);
  
