//Font Family

$MAIN_FONT_FAMILY: "Helvetica Neue";

// Colors
$NAVBAR_BG_COLOR: #ffffff;
$BLACK: #000000;

// Sizes
$NAVBAR_TEXT_SIZE: 27px;
$NAVBAR_BTN_SIZE: 18px;

// Letter space
$TITLE_LETTER_SPACE: 1.350000023841858px;
