@import "../../resources/variables.scss";

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 46px;
  background-color: $NAVBAR_BG_COLOR;
  gap: 20px;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.left_container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .symbol {
    transition: transform 0.5s;

    &:hover {
      animation: rotate 1s linear;
    }
  }
  .hambur_symbol {
    display: flex;
    cursor: pointer;
  }
}

.navbar .title {
  font-size: $NAVBAR_TEXT_SIZE;
  color: $BLACK;
  letter-spacing: $TITLE_LETTER_SPACE;
  font-weight: 200;
  display: none;
  cursor: pointer;
}

.navbar .symbol_container {
  display: flex;
  justify-content: flex-end;
  gap: 20px;

  transition: transform 0.5s;

  .symbol {
    cursor: pointer;
    &:hover {
      animation: rotateY 1.5s ease-in-out;
    }
  }
}

.button_container {
  display: none;
  gap: 10px;
}

@media (min-width: map-get($BREAK_POINTS, SMALL)) {
  .navbar {
    height: 64px;
    padding: 0 100px;
    position: static;
    top: unset;
    left: unset;
    z-index: unset;
    .title {
      display: block;
    }
  }
  .left_container {
    gap: 20px;
  }
}

@media (min-width: map-get($BREAK_POINTS, MEDIUM)) {
  .button_container {
    display: flex;
  }
  .left_container {
    .hambur_symbol {
      display: none;
    }
    justify-content: flex-start;
  }
}
