@import "../../resources/variables.scss";

.chef_banner {
  display: flex;
  flex-direction: column;
  margin: 30px 10px;

  h4 {
    font-family: $MAIN_FONT_FAMILY;
    font-size: $VERY_SMALL_FONT_SIZE;
    font-weight: 200;
    line-height: 25px;
    letter-spacing: 1.25px;
    text-align: left;
  }
}

.title {
  font-family: $MAIN_FONT_FAMILY;
  font-size: $SMALL_FONT_SIZE;
  font-weight: 200;
  line-height: 35px;
  letter-spacing: 1.25px;
  text-align: left;
}

.chef_img {
  position: relative;
  margin: 0;
  padding: 0;
  width: fit-content;
  height: max-content;
}

.chef_title {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 15%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 100;
  text-align: center;
  align-items: center;
  justify-content: center;

  font-family: $MAIN_FONT_FAMILY;
  font-size: $SMALL_FONT_SIZE;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 2.67px;
  text-align: center;
}

.chef_button {
  margin-top: 20px;
}

.desc {
  margin: 0;
  font-family: $MAIN_FONT_FAMILY;
  font-size: $SMALL_FONT_SIZE;
  font-weight: 200;
  line-height: 28px;
  letter-spacing: 1.25px;
  text-align: justified;
}

.chef_rest {
  margin: 0;
  display: none;
  gap: 20px;
}

@media (min-width: map-get($BREAK_POINTS, MEDIUM)) {
  .chef_title {
    font-size: $GIANT_FONT_SIZE;
    text-align: center;
    height: 78px;
  }

  .main_container {
    display: flex;
    gap: 40px;
    h5 {
      margin-top: 20px;
    }
  }

  .desc {
    font-size: $MEDIUM_FONT_SIZE;
    line-height: 35px;
  }

  .swiper_container {
    display: none;
  }

  .chef_rest {
    display: flex;
    overflow-x: auto;
    width: 100%;
  }

  .rest_card {
    display: flex;
    max-width: 232px;

    h3 {
      font-family: $MAIN_FONT_FAMILY;
      font-size: $GIANT_FONT_SIZE;
      font-weight: 400;
      line-height: 47px;
      letter-spacing: 2.67px;
      text-align: center;
    }
  }

  .chef_banner {
    margin: 50px 10px;
    h4 {
      font-family: $MAIN_FONT_FAMILY;
      font-size: 30px;
      line-height: 35px;
      text-align: left;
    }
  }
  .chef_button {
    display: none;
  }

  .chef_img {
    max-width: 100%;
    height: 100%;
    img {
      width: 478px;
      height: 372px;
      object-fit: cover;
    }
  }
}

@media (min-width: map-get($BREAK_POINTS, LARGE)) {
  .chef_banner {
    margin: 50px 150px;
    display: flex;
  }
}
