@import "../../resources/variables.scss";

.card_container {
  background-color: $CARD_BG_COLOR;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pic {
  width: 100%;
}

.text_container {
  margin: 15px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;

  h1 {
    font-family: $MAIN_FONT_FAMILY;
    font-size: $SMALL_FONT_SIZE;
    font-weight: 400;
    line-height: 21.47px;
    letter-spacing: 2.67px;
    text-align: left;
    margin: 5px;
  }

  h3 {
    font-family: $MAIN_FONT_FAMILY;
    font-size: $VERY_SMALL_FONT_SIZE;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 1.97px;
    text-align: left;
    margin: 5px;
  }

  .type_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    height: 31px;
    width: 40px;
  }
}

.price_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.line {
  flex: 1;
  height: 1px;
  background-color: $CARD_LINE_COLOR;
  margin: 0 10px;
}
.price {
  display: flex;
  margin: 0;
  font-family: $MAIN_FONT_FAMILY;
  font-size: $MEDIUM_FONT_SIZE;
  font-weight: 200;
  line-height: 30px;
  letter-spacing: 1.97px;
  align-items: left;
}
.nis-icon {
  height: 10px;
  margin-top: 14px;
}

.rating {
  display: none;
  justify-content: flex-start;
  padding: 10px 0;
}

@media (min-width: map-get($BREAK_POINTS, MEDIUM)) {
  .rating {
    display: flex;
  }

  .text_container {
    align-items: center;
    h1 {
      font-size: $VERY_GIANT_FONT_SIZE;
      font-weight: 400;
      line-height: 47px;
      letter-spacing: 2.67px;
      text-align: center;
      margin: 0;
      padding: 0 10%;
    }
    h3 {
      font-size: $MEDIUM_FONT_SIZE;
      font-weight: 200;
      line-height: 30px;
      letter-spacing: 1.97px;
      text-align: center;
    }
  }

  .nis-icon {
    margin-right: 2px;
    height: 20px;
    margin-top: 10px;
  }
}
