@import "../../resources/variables.scss";

.about_container {
  margin: 0 15px;
  padding: 40px 0;
}

.about_logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.about_title {
  padding: 0;
}

.mobile {
  margin-bottom: 30px;
  img {
    margin-bottom: 15px;
    margin-right: 30px;
    cursor: pointer;
  }
}

.about_details {
  h1 {
    font-family: $MAIN_FONT_FAMILY;
    font-size: $SMALL_FONT_SIZE;
    font-weight: 200;
    line-height: 35px;
    letter-spacing: 1.25px;
    text-align: left;
  }

  h3 {
    font-family: $MAIN_FONT_FAMILY;
    font-size: $MAIN_FONT_FAMILY;
    font-weight: 200;
    line-height: 28px;
    letter-spacing: 2.14px;
    text-align: left;
  }
}

@media (min-width: map-get($BREAK_POINTS, MEDIUM)) {
  .about_container {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 0 0 150px;
  }
  .about_logo {
    display: flex;
    margin: 0;
    img {
      padding: 100px 100px;
      width: 178px;
      height: 166px;
    }
  }

  .mobile {
    margin-bottom: 0;
    img {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }

  .about_details {
    display: flex;
    flex-direction: column-reverse;
  }

  .about_title {
    padding: 0 20% 0 0;
    h1 {
      font-size: $GIANT_FONT_SIZE;
    }
  }
}

@media (min-width: map-get($BREAK_POINTS, LARGE)) {
  .about_title {
    padding: 0 45% 0 0;
  }
}
