@import "../../resources/variables.scss";

.container {
  margin: 30px 1px 30px 15px;
  display: flex;
  flex-direction: column;
}
.title {
  padding: 10px 0;
  h1 {
    font-family: $MAIN_FONT_FAMILY;
    font-size: $SMALL_FONT_SIZE;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 1.25px;
    text-align: left;
    margin: 0;
  }
}

.cards_container {
  display: none;
  justify-content: center;
  gap: 20px;
}

.card {
  max-height: 100vh;
  width: 379px;
}

.swiper_container {
  max-height: 100vh;
  display: flex;
}

.button {
  margin-top: 30px;
}

@media (min-width: map-get($BREAK_POINTS, MEDIUM)) {
  .container {
    margin: 100px 50px;
  }
  .title {
    h1 {
      text-align: center;
      font-size: $GIANT_FONT_SIZE;
      margin-bottom: 25px;
    }
  }
  .swiper_container {
    display: none;
  }

  .cards_container {
    display: flex;
  }

  .button {
    display: flex;
    justify-content: flex-end;
    // margin-right: 9%;
  }

  ._cards {
    flex-direction: column;
  }

  .mobile-only {
    display: none;
  }

  .title {
    text-align: center;
    font-size: $GIANT_FONT_SIZE;
  }
}

@media (min-width: map-get($BREAK_POINTS, LARGE)) {
  .button {
    margin-right: 8%;
  }
}
